doctype 5
html
  head
    title Calificaciones Empresas
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Calificaciones Empresas
      #content
        block content
      #footer
        a(href="http://blog.koalite.com") GitHub Repositorio
